.footer {
    background-color: var(--inactive);
    width: 100%;
}

.footer-container {
    display: flex;
    max-width: 100%;
    width: 1500px;
    margin: auto;
    padding: 0 2em;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em 2em;
    line-height: 2em;
}

.footer-column a {
    color: #000;
    text-decoration: none;
    background: linear-gradient(
            to top,
            rgba(0, 101, 252, 0.8) 0%,
            rgba(0, 101, 252, 0.8) 10%,
            transparent 10.01%
    )
    no-repeat left bottom / 0 100%;
    transition: background-size 0.5s;
    width: fit-content;
}

.footer-column a:hover {
    color: #000;
    text-decoration: none;
    background-size: 5em 100%;
}
