.footer {
    background-color: var(--inactive);
    width: 100%;
    clear: both;
}

.footer-container {
    display: flex;
    max-width: 100%;
    width: 1500px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2em 2em;
    line-height: 2em;
}

.footer-column a {
    color: #000;
    text-decoration: none;
}