/* Appel des fichiers .CSS */
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("responsive.css");

/* GOOGLE FONT */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #0065fc;
    --secondary: #deebff;
    --inactive: #f2f2f2;
    --background: #fff;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    cursor: none !important;
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: var(--primary);
}

::selection {
    color: #fff;
    background: var(--primary);
}

body {
    font-family: "Raleway", sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

.cursor {
    width: 20px;
    height: 20px;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 50%;
    position: absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    z-index: 9999;
    animation: cursorAnim .5s infinite alternate;
}

.expand {
    animation: cursorClick .5s forwards;
    border: 1px solid var(--primary);
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(.7);
    }
    
}

@keyframes cursorClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(3);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
    
}