/* Appel des fichiers .CSS */
@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("responsive.css");

/* GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #0065FC;
    --secondary: #DEEBFF;
    --inactive: #f2f2f2;
    --background: #fff;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: var(--background);
    margin: 0;
    padding: 0;
}