/* @media only screen and (max-width: 650px) {
    
    /* FOOTER */

    /* .footer-container {
        display: block;
    }
} */

@media screen and (min-width: 600px) {
	
	/* HEADER NAVBAR */
	.header-nav {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: "logo . navbar register";
	}

	.fa-search:before {
		display: none;
	}
}

@media screen and (max-width: 620px) {
	
	/* HEADER NAVBAR */
	.header-nav {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo . register" "navbar navbar navbar";
	}

	.research-button span {
		display: none;
	}

	.research-button {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.nav-link {
		border-top: none;
		border-bottom: 5px solid var(--inactive);
		width: 50%;
	}

	.nav-link:hover {
		border-bottom: 5px solid var(--primary);
		border-top: none;
	}

	.active {
		border-bottom: 5px solid var(--primary);
	}

	.filter-title {
		width: 100%;
	}

	.filter-types {
		margin: 0 0.5em 0.5em 0;
	}

	.filter-types i {
		min-width: 2.5em;
		min-height: 2.5em;
		margin-right: 0;
	}
}

@media screen and (max-width: 750px) {

	.lodging-resum {
		background-color: #fff;
		padding: 0;
	}

	.lodging-card {
		width: 100%;
		max-width: 100%;
		margin: 1em 0 !important;
		box-shadow: 0 5px 15px #00000033;
	}

	.pop-section {
		margin-bottom: 2em !important;
		height: 40em;
		padding: 0 1em;
		height: 39.33em !important;
	}

	.activity-section {
		height: 102em;
	}

	.activity-content {
		display: block;
	}

	.activity-box {
		width: 100%;
		margin: 2em 0;
	}

	.activity-box:nth-of-type(1),
	.activity-box:nth-of-type(2),
	.activity-box:nth-of-type(3),
	.activity-box:nth-of-type(4),
	.activity-box:nth-of-type(5),
	.activity-box:nth-of-type(6) {
		height: 40%;
	}
	
	/* FOOTER */
	.footer-container {
        display: block;
    }
}

@media screen and (max-width: 880px) {
	.lodging-card {
		margin: 0.5em;
	}
}

@media screen and (max-width: 1500px) {
	.lodging-section {
		width: 100%;
		max-width: 100%;
	}

	.lodging-resum {
		justify-content: center;
	}

	.pop-section {
		width: 100%;
		max-width: 100%;
		margin-bottom: 2em;
		height: 36.33em;
	}
}

