/* @media only screen and (max-width: 650px) {
    
    /* FOOTER */

    /* .footer-container {
        display: block;
    }
} */

@media screen and (min-width: 600px) {
	
	/* HEADER NAVBAR */
	.header-nav {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: "logo . navbar register";
	}

	.fa-search:before {
		display: none;
	}
}

@media screen and (max-width: 620px) {
	
	/* HEADER NAVBAR */
	.header-nav {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo . register" "navbar navbar navbar";
	}

	.research-button span {
		display: none;
	}

	.research-button {
		padding-left: 1.5em;
		padding-right: 1.5em;
	}

	.nav-link {
		border-top: none;
		border-bottom: 5px solid var(--inactive);
		width: 50%;
	}

	.nav-link:hover {
		border-bottom: 5px solid var(--primary);
		border-top: none;
	}

	.active {
		border-bottom: 5px solid var(--primary);
	}

	.filter-title {
		width: 100%;
	}

	.filter-types {
		margin: 0 0.5em 0.5em 0;
	}

	.filter-types i {
		min-width: 2.5em;
		min-height: 2.5em;
		margin-right: 0;
	}
}

@media screen and (max-width: 750px) {
	
	/* FOOTER */
	.footer-container {
        display: block;
    }
}

